<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>IoT Activation Program</h2>
        <p class="lead">Welcome to The IoT World. With these tutorials you will not only learn how to start 
		in the IoT world, it also aims to be a guide to assist you in your beginnings and resolve any doubts that may arise.
		IoT technology will make it easier for you to collect data online, control remotely and automate processes, 
		allowing you to reduce costs and offer a better service, while improving quality.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
