watchtower==0.7.3
flask==1.1.1
coapthon==4.0.2
urllib3==1.26.5
PyYAML==5.1.2
PyJWT==1.7.1
requests==2.21.0
boto3==1.9.187
sockets==1.0.0
temp==2019.4.13
traceback2==1.4.0
logging==0.4.9.6
