sudo yum install openssl-devel 
sudo yum install gcc

sudo pip install pyJWT 
sudo pip install google-api-python-client
sudo pip install google-oauth -t
sudo pip install google-auth -t
sudo pip install google-auth-httplib2
sudo pip install google-cloud
sudo pip install google-cloud-pubsub
sudo pip install pyOpenSSL cryptography
sudo pip install pyOpenSSL 

sudo pip install paho.mqtt.client
sudo pip install json
sudo pip install yaml
sudo pip install ssl
sudo pip install requests
sudo pip install boto3 